<!-- display product names -->
<ul>
  <!-- use the *ngFor structural directive to iterate through products-->
  <!-- use {{ }} interpolation to render the product name  -->
  <li *ngFor="let product of products">
    <div>
      <!-- use property binding [] = "" to bind
        <product in parent component to product in child component -->
      <app-product [product] ="product"></app-product>
      <!-- 
      - use event binding ()="" to bind 
        the updateQuantity emitter of the child component
        to the updateCart() method of the current class component
        to handle the information passed from child to parent
      - use [] = "" property biding send productId information from parent to child 
       -->
      <app-add-to-cart [productId]="product.id" (updateQuantity)="updateCart($event)"></app-add-to-cart>
    </div>
  </li>
</ul>